<div class="center jumbotron">
  <h1>Welcome to Workster!</h1>

  <h2>
    Log in or sign up below!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("cash.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>